<h1 mat-dialog-title>New User</h1>
<p>Fill informations</p>
<form *ngIf="roles" #f="ngForm" (ngSubmit)="f.form.valid && onCreateClick()">
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Firstname" [(ngModel)]="firstname" name="firstname" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Lastname" [(ngModel)]="lastname" name="lastname" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="currentRoleId">
      <mat-option *ngFor="let role of roles" [value]="role.roleId">{{role.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="onCancelClick()" color=warn>Cancel</button>
  <button mat-raised-button style="margin-left:10px" type="submit" color=primary cdkFocusInitial>Create</button>
</form>
