<mat-toolbar class="user-toolbar">
  <span>Users</span>
  <span style="flex: 1 1 auto;"></span>
  <span><button mat-button [disabled]="!isSelectedAtleaseOne()" (click)="deleteUser()">
    <i class="material-icons">
    delete
    </i>
    Delete
  </button></span>
  <span><button mat-button (click)="openAddUserDialog()">
    <i class="material-icons">
    add_circle
    </i>
    Add
  </button></span>
</mat-toolbar>
<div class="example-container mat-elevation-z1">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

  <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      <mat-cell *matCellDef="let element" class="table-cell"> {{element.username}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="table-cell"> {{element.fullname}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
      <mat-cell *matCellDef="let element" class="table-cell"> {{element.roles}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="reserved">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reserved </mat-header-cell>
      <mat-cell *matCellDef="let element" class="table-cell"> {{element.reserved}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Active Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle
          style="margin-left: 15px"
          [color]="color"
          [checked]="isActive(element.active)"
          [disabled]="disabled">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
