.mat-column-id {
  flex: 0 0 70px;
}
.mat-column-select {
  flex: 0 0 50px;
}

.example-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  width: 100%
}

.table-cell {
  font-size: 13px
}

.center {
  margin: 0 auto
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background: #f5f5f5;
}
