<div *ngIf="candidate" class="detail-container mat-elevation-z1">
  <mat-tab-group animationDuration="100ms">
    <mat-tab label="Status">
      <br>
      <app-candidate-status [candidate]="candidate"></app-candidate-status>
      <br>
    </mat-tab>
    <mat-tab label="Detail">
      <br>
      <app-candidate-detail [candidate]="candidate"></app-candidate-detail>
    </mat-tab>
  </mat-tab-group>
</div>
