<h1 mat-dialog-title>You are about to delete user</h1>
<div mat-dialog-content>
  <p>Are you sure want to delete?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div>
