<div>
  <mat-form-field class="lowerbound" appearance="outline">
    <input matInput [(ngModel)]="fragment.lowerBound" name="lowerBound">
  </mat-form-field>
  <span class="to">-</span>
  <span class="upperbound">{{fragment.nextFragment.lowerBound}}</span>
  <span class="is">></span>
  <mat-form-field class="value" appearance="outline">
    <input matInput [(ngModel)]="fragment.value" name="value">
  </mat-form-field>
</div>
