.upperbound {
  width: 70px;
  display: inline-block;
  text-align: center;
}

.lowerbound {
  width: 70px;
  text-align: center;
  font-size: 13px;
}

.value {
  width: 100px;
  text-align: center;
  font-size: 13px;
}

.to {
  width: 35px;
  display: inline-block;
  text-align: right;
}

.is {
  width: 35px;
  display: inline-block;
  text-align: left;
}
