.column {
  float: left;
  width: 24%;
  padding: 5px;
}

.clienttable {
  padding: 5px
}

mat-card {
  padding: 0px
}

.column-card {
  padding: 0px;
}

mat-card-title {
  padding: 10px;
}

mat-card-content {
  margin-bottom: 0px;
}

mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* background-color: cadetblue; */
  /* color: white; */
}
