<mat-toolbar class="client-toolbar">
    <span>Client</span>
  </mat-toolbar>
<div class="clienttable">
    <div class="column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Client</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #clients (selectionChange)="onClientSelection($event, clients.selectedOptions.selected)">
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let c of clientList" [value]='c'>
                  {{c.name}}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="addClient()">
                <i class="material-icons">add_circle</i>Add
              </button>
              <button mat-button color="primary" [disabled]="clients.selectedOptions.selected.length == 0" (click)="updateClient()">
                <i class="material-icons">edit</i>Edit
              </button>
              <button mat-button color="primary" [disabled]="clients.selectedOptions.selected.length == 0" (click)="deleteClient()">
                <i class="material-icons">delete</i>Delete
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Branch</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #branches (selectionChange)="onBranchSelection($event, branches.selectedOptions.selected)">
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let b of branchList" [value]='b'>
                  {{b.name}}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" [disabled]="clients.selectedOptions.selected.length == 0" (click)="addBranch()">
                <i class="material-icons">add_circle</i>Add
              </button>
              <button mat-button color="primary" [disabled]="branches.selectedOptions.selected.length == 0" (click)="updateBranch()">
                <i class="material-icons">edit</i>Edit
              </button>
              <button mat-button color="primary" [disabled]="branches.selectedOptions.selected.length == 0" (click)="deleteBranch()">
                <i class="material-icons">delete</i>Delete
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Project</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #projects (selectionChange)="onProjectSelection($event, projects.selectedOptions.selected)">
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let p of projectList" [value]='p'>
                  {{p.name}}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" [disabled]="branches.selectedOptions.selected.length == 0" (click)="addProject()">
                <i class="material-icons">add_circle</i>Add
              </button>
              <button mat-button color="primary" [disabled]="projects.selectedOptions.selected.length == 0" (click)="updateProject()">
                <i class="material-icons">edit</i>Edit
              </button>
              <button mat-button color="primary" [disabled]="projects.selectedOptions.selected.length == 0" (click)="deleteProject()">
                <i class="material-icons">delete</i>Delete
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="column">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Position</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #positions (selectionChange)="onPositionSelection($event, positions.selectedOptions.selected)">
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let p of positionList" [value]='p'>
                  {{p.name}}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" [disabled]="projects.selectedOptions.selected.length == 0" (click)="addPosition()">
                <i class="material-icons">add_circle</i>Add
              </button>
              <button mat-button color="primary" [disabled]="positions.selectedOptions.selected.length == 0" (click)="updatePosition()">
                <i class="material-icons">edit</i>Edit
              </button>
              <button mat-button color="primary" [disabled]="positions.selectedOptions.selected.length == 0" (click)="deletePosition()">
                <i class="material-icons">delete</i>Delete
              </button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
