<div class="area">
  <h1 mat-dialog-title>{{title}}</h1>
  <p></p>
  <form *ngIf="sources" #f="ngForm" (ngSubmit)="f.form.valid && onSaveClick()">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Surname" [(ngModel)]="surname" name="surname" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nickname" [(ngModel)]="nickname" name="nickname" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Mobile" [(ngModel)]="mobile" name="mobile"
        type="number"
        inputmode="numeric" pattern="[0-9]{9}[0-9]?"
        required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Lead Source" [(value)]="currentSourceId">
        <mat-option *ngFor="let source of sources" [value]="source.id">{{source.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-select placeholder="Status" [(value)]="currentStatus">
        <mat-option [value]=lead.status>{{lead.status}}</mat-option>
        <mat-option *ngFor="let s of nextState(lead.status)" [value]="s">{{s}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="isShowDate(currentStatus)" (click)="picker.open()">
      <input matInput [(ngModel)]="date" name="date" [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date"
        (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" (click)="picker.open()" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="isShowDate(currentStatus)">
      <input matInput [(ngModel)]="time" placeholder="Time" type="time" name="time" required>
    </mat-form-field>
    <br>
    <button mat-stroked-button (click)="phone()" [disabled]="isCandidate(lead)">{{phoneLabel(lead)}}</button>
    <br>
    <br>
    <button mat-button (click)="onCancel()" color=warn>Cancel</button>
    <button mat-raised-button style="margin-left:10px" type="submit" color=primary cdkFocusInitial>Save</button>
  </form>
</div>
