<div class="leadrow" (click)=onClick(candidate.id)>
    <a mat-list-item style="height: 35px">
      <label class="leadlabel">{{candidate.date | date: 'HH:mm'}} {{candidate.lead.name}} {{candidate.lead.surname}}</label>
    </a>
</div>
