<h1 mat-dialog-title>Delete</h1>
<p>Are you sure want to delete?</p>
<button mat-button (click)="onCancelClick()">Cancel</button>
<button mat-button (click)="onDeleteClick()" cdkFocusInitial>Delete</button>
