<div *ngIf="package">
  <div class="area">
    <form>
      <button mat-icon-button (click)=onBack()>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <mat-form-field class="name" appearance="outline">
        <input matInput class="name" [(ngModel)]="package.name" name="name">
      </mat-form-field>
      <app-package-fragment *ngFor="let fragment of packageFList.list" [fragment]=fragment></app-package-fragment>
      <button mat-mini-fab color="accent" (click)=onAdd()>Add</button>
      <button mat-raised-button class="save" color="primary" (click)=onSave()>Save</button>
    </form>
  </div>
</div>
