<div class="area mat-elevation-z1">
  <label class="interviewdate" color="primary">{{interviewDate.date | date:'EEEE, MMMM d, y'}}</label>
  <mat-nav-list>
    <app-c-interview *ngFor="let candidate of interviewDate.list" [candidate]="candidate"></app-c-interview>
  </mat-nav-list>
</div>
