<!-- <div>
  <span class="header-leading-power">Leading Power</span><span class="header-crm">CRM</span>
</div> -->
<mat-toolbar class="mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <span class="header-leading-power">Leading Power</span>
    <span class="header-crm">CRM</span>
    <span style="flex: 1 1 auto;"></span>
    <span><button mat-button routerLink="incomplete">Incomplete</button></span>
    <span><button mat-button routerLink="my-interview">My Interview</button></span>
    <span><button mat-button routerLink="client-interview">Client</button></span>
  </mat-toolbar-row>
</mat-toolbar>
