div {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    margin: 0px;
    z-index: 0;
    font-family: sans-serif;
    font-size: 20px;
    vertical-align: middle;
    color: white;
    background-color: cadetblue;
}

span.header-crm {
    margin-left: 5px;
    font-weight: lighter;
}

span.header-leading-power {
    margin-left: 15px;
    font-weight: bold;
}
