<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z3" mode="side" opened="true">
      <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">{{username}}</h4>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item matRipple routerLink="." >
          <mat-icon mat-list-icon color="primary">dashboard</mat-icon>
          <p class="nav-name">Dashboard</p>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item matRipple routerLink="lead" >
          <mat-icon mat-list-icon color="primary">assignment_ind</mat-icon>
          <p class="nav-name">Leads</p>
        </a>
        <a mat-list-item matRipple style="height: 35px" routerLink="lead-source" >
          <p class="sub-nav-name">Lead Source</p>
        </a>
        <mat-divider></mat-divider>
        <a *ngIf="username && isAdmin" mat-list-item matRipple routerLink="users" >
          <mat-icon mat-list-icon color="primary">people</mat-icon>
          <p class="nav-name">User</p>
        </a>
        <mat-divider *ngIf="username && isAdmin"></mat-divider>
        <a mat-list-item matRipple routerLink="client" >
          <mat-icon mat-list-icon color="primary">domain</mat-icon>
          <p class="nav-name">Clients</p>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item matRipple routerLink="application" >
          <mat-icon mat-list-icon color="primary">done_all</mat-icon>
          <p class="nav-name">Applications</p>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item matRipple routerLink="." >
          <mat-icon mat-list-icon color="primary">attach_money</mat-icon>
          <p class="nav-name">Commissions</p>
        </a>
        <mat-divider></mat-divider>
        <a *ngIf="username && isAdmin" mat-list-item matRipple routerLink="package/flat" >
          <mat-icon mat-list-icon color="primary">money</mat-icon>
          <p class="nav-name">Flat Package</p>
        </a>
        <mat-divider *ngIf="username && isAdmin"></mat-divider>
        <a *ngIf="username && isAdmin" mat-list-item matRipple routerLink="package/percent" >
          <mat-icon mat-list-icon color="primary">money</mat-icon>
          <p class="nav-name">Percent Package</p>
        </a>
        <mat-divider *ngIf="username && isAdmin"></mat-divider>
        <a *ngIf="username && isAdmin" mat-list-item matRipple routerLink="package/contract" >
          <mat-icon mat-list-icon color="primary">money</mat-icon>
          <p class="nav-name">Contract Package</p>
        </a>
        <mat-divider *ngIf="username && isAdmin"></mat-divider>
        <a mat-list-item matRipple routerLink="." >
          <mat-icon mat-list-icon color="primary">library_books</mat-icon>
          <p class="nav-name">Reports</p>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
      <button style="width: 100%; height: 50px; margin-top: 10px;" mat-button color="warn" (click)="logout()">Logout</button>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
