mat-sidenav {
    /* position: relative; */
    top: 0;
    height: 100%;
    left: 0;
    width: 200px;
    z-index: -1;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
}

mat-sidenav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    z-index: -1;
}

mat-nav-list {
    padding: 0px;
    z-index: -1;
}

.nav-name {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.sub-nav-name {
    font-size: 12px;
    margin-left: 30px;
}
