<h1 mat-dialog-title>New LeadSource</h1>
<p>Fill informations</p>
<form #f="ngForm" (ngSubmit)="f.form.valid && onSaveClick()">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Cost" [(ngModel)]="cost" name="cost" inputmode="numeric" pattern="[0-9]*" required>
  </mat-form-field>
  <button mat-button (click)="onCancelClick()" color=warn>Cancel</button>
  <button mat-raised-button style="margin-left:10px" type="submit" color=primary cdkFocusInitial>Save</button>
</form>
