<h1 mat-dialog-title>New Lead</h1>
<p></p>
<form *ngIf="sources" #f="ngForm" (ngSubmit)="f.form.valid && onSaveClick()">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name" name=name required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Surname" [(ngModel)]="surname" name=surname required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nickname" [(ngModel)]="nickname" name=nickname required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Mobile" [(ngModel)]="mobile" name=mobile inputmode="numeric" pattern="[0-9]{9}[0-9]?" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Lead Source" [(value)]="currentSourceId" name=source>
      <mat-option *ngFor="let source of sources" [value]="source.id">{{source.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="onCancelClick()" color=warn>Cancel</button>
  <button mat-raised-button style="margin-left:10px" type="submit" color=primary cdkFocusInitial>Save</button>
</form>
