<h4>CANDIDATE STATUS</h4>
<br>
<form *ngIf="clientList" #f="ngForm" (ngSubmit)="f.form.valid && onSave()">
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(value)]="data.status" name="status">
      <mat-option [value]=candidate.status>{{candidateStatusLabel(candidate.status)}}</mat-option>
      <mat-option *ngFor="let s of nextStage(candidate.status)" [value]="s">{{candidateStatusLabel(s)}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="isShowDateTime(data.status)">
    <mat-form-field (click)="picker.open()">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        (click)="picker.open()"
        [(ngModel)]="data.date"
        name="date"
        required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Time"
        type="time"
        [(ngModel)]="data.time"
        name="time"
        required>
    </mat-form-field>
  </div>
  <div *ngIf="isShowClient(data.status)">
    <mat-form-field>
      <mat-label>Client</mat-label>
      <mat-select [(ngModel)]="data.clientId" name="client" required [disabled]="!allowEditClient(data.status)">
        <mat-option *ngFor="let client of clientList" [value]="client.id">{{client.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Branch</mat-label>
      <mat-select [(ngModel)]="data.branchId" name="branch" required [disabled]="!allowEditClient(data.status)">
        <mat-option *ngFor="let branch of getBranchList(data.clientId)" [value]="branch.id">{{branch.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Project</mat-label>
      <mat-select [(ngModel)]="data.projectId" name="project" required [disabled]="!allowEditClient(data.status)">
        <mat-option *ngFor="let project of getProjectList(data.branchId)" [value]="project.id">{{project.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Position</mat-label>
      <mat-select [(ngModel)]="data.positionId" name="position" required [disabled]="!allowEditClient(data.status)">
        <mat-option *ngFor="let position of getPositionList(data.projectId)" [value]="position.id">{{position.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="isShowSalary(data.status)">
    <mat-form-field>
      <input matInput
        type="number"
        inputmode="numeric" pattern="[0-9]*"
        placeholder="Salary"
        [(ngModel)]="data.salary"
        name="salary"
        [required]="isRequireSalary(data.status)">
    </mat-form-field>
  </div>
  <br>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Note"
      [(ngModel)]="data.note"
      name="note">
    </textarea>
  </mat-form-field>
  <br>
  <button mat-button>Clear</button>
  <button mat-raised-button style="margin-left:10px" type="submit" color=primary [disabled]="!onDataChange(data)">Save</button>
  <button mat-button>Transfer</button>

</form>
