<h4>CANDIDATE DETAIL</h4>
<br>
<form *ngIf="nationalityList" #f="ngForm" (ngSubmit)="f.form.valid && onSave()">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name" name="name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Surname" [(ngModel)]="data.surname" name="surname" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Nickname" [(ngModel)]="data.nickname" name="nickname" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Mobile" [(ngModel)]="data.mobile" name="mobile"
      type="number"
      inputmode="numeric" pattern="[0-9]{9}[0-9]?"
      required>
  </mat-form-field>
  <br>
  <br>
  <mat-divider></mat-divider>
  <br>
  <!-- <mat-form-field>
    <input matInput placeholder="Nationality">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Nationality</mat-label>
    <mat-select [(ngModel)]="data.nationalityId" name="nationality" required>
      <mat-option *ngFor="let n of nationalityList" [value]="n.id">{{n.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field (click)="birthdatepicker.open()">
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="birthdatepicker" (click)="birthdatepicker.open()"
    placeholder="Choose a date" [(ngModel)]="data.dateOfBirth" name="dateOfBirth" [max]="today" required>
    <mat-datepicker-toggle matSuffix [for]="birthdatepicker"></mat-datepicker-toggle>
    <mat-datepicker #birthdatepicker></mat-datepicker>
  </mat-form-field>
  <br>
  <button mat-raised-button style="margin-left:10px" type="submit" color=primary [disabled]="!onDataChange(data)">Save</button>
</form>
