.mat-column-select {
  flex: 0 0 70px;
}
.mat-column-surname {
  flex: 0 0 150px;
}
.mat-column-name {
  flex: 0 0 150px;
}
.mat-column-nickname {
  flex: 0 0 120px;
}
.mat-column-mobile {
  flex: 0 0 150px;
}
.mat-column-sourcename {
  flex: 0 0 150px;
}
.mat-column-recruiter {
  flex: 0 0 150px;
}
.leadtable {
  width: 940px;
}

.example-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  width: 100%
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background: #f5f5f5;
}
