<mat-toolbar>
  <span>Lead</span>
  <span style="flex: 1 1 auto;"></span>
  <span><button mat-button [disabled]="!isSelectedAtleaseOne()" (click)="deleteLead()">
    <i class="material-icons">
    delete
    </i>
    Delete
  </button></span>
  <span><button mat-button (click)="openAddLeadDialog()">
    <i class="material-icons">
    add_circle
    </i>
    Add
  </button></span>
</mat-toolbar>

<div class="leadtable example-container mat-elevation-z1">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
  <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nickname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nickname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nickname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sourcename">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sourcename}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="recruiter">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Recruiter </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.recruiter}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></mat-row>
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
