<div class="area mat-elevation-z1">
  <label class="interviewdate" color="primary">{{interviewDate.date | date:'EEEE, MMMM d, y'}}</label>
  <mat-nav-list>
    <app-interview *ngFor="let lead of interviewDate.list" [lead]="lead" (click)=onClickLead(lead)></app-interview>
  </mat-nav-list>
</div>
