<mat-toolbar>
  <span>Package</span>
  <span style="flex: 1 1 auto;"></span>
  <span><button mat-button (click)="add()">
    <i class="material-icons">
    add_circle
    </i>
    Add
  </button></span>
</mat-toolbar>
<div class="area">
  <h4>Flat</h4>
  <app-package-item
    *ngFor="let package of flatPackageList"
    [package]=package
    routerLink={{package.id}}
    >
  </app-package-item>
</div>
