<h1 mat-dialog-title>{{title}}</h1>
<form #f="ngForm" (ngSubmit)="f.form.valid && onSaveClick()">
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="name" name="name" required>
  </mat-form-field>
  <button mat-button (click)="onCancelClick()" color=warn>Cancel</button>
  <button mat-raised-button style="margin-left:10px" type="submit" color=primary cdkFocusInitial>Save</button>
</form>
