<mat-toolbar>
  <span>Lead Source</span>
  <span style="flex: 1 1 auto;"></span>
  <span><button mat-button (click)="openAddLeadSourceDialog()">
    <i class="material-icons">
    add_circle
    </i>
    Add
  </button></span>
</mat-toolbar>
<div class="example-container mat-elevation-z1">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Source Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Source Cost </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="createdate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Create Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdate  | date:'yyyy/MM/dd HH:mm':'+0700'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
    </mat-paginator>
</div>
