  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

  .example-container {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
